.hero-wrapper {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  /* z-index: -1; */
}
#hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -11%;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  opacity: 0.5;
  z-index: -1;
}
.hero-wrapper div {
  /* display: flex; */
  /* flex-direction: column; */
  position: absolute;
  left: 10%;
  top: 20%;
  color: var(--hcont-co);
}
#hero-title {
  line-break: loose;
  width: 30vw;
  min-width: 200px;
  font-size: 3.6rem;
  font-weight: 800;
  position: relative;
  /* left: 10%;
  top: 20%; */
}
#hero-description {
  line-height: 1.4;
  margin-top: 3rem;
  font-size: 1.8rem;
  position: relative;
}
#hero-preview-image {
  border-radius: 0;
  width: 20vw;
  min-width: 20rem;
  position: absolute;
  right: 10%;
  top: 20%;
}
